* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: white;
}

body {
    background-color: #242424;
}

.home {
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.logo {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
}

.apiinfo {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;

    display: block;
    width: 800px;
    line-height: 30px;
}
.apiinfo a {
    text-decoration: underline;
}
#apiToken {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
    border: none;
    border-bottom: solid 1px white;
    background: none;
}

#sendToken {
    background-color: rgb(21, 163, 97);
    color: white;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    border: none;
    padding: 20px 50px;
}

#sendToken:hover {
    box-shadow: 10px 10px 2px rgba(21, 163, 97, 0.5);
    transition: ease-out 0.2s;
}

textarea:focus,
input:focus {
    outline: none;
}
#text {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    display: block;
    width: 800px;
    line-height: 30px;
}
